html,body {
  height: 100%;
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.navbar {
  text-shadow: 1px 1px 1px #000;
}
.navbar.navbar-top {
  height: 50px;
  background:none;
  transition: all 0.7s;
}
.navbar.navbar-top-dark {
  background: rgba(0,14,17,.875);
  height: 60px;
  transition: all 0.7s;
}

.navbar.navbar-fixed-top {
  position:fixed;
  top:0;
}

body {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #777;
  background-color: #fff !important;
  line-height: 1.6;
}

.navbar,.navbar.navbar-light {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.navbar-nav {
  padding: 10px 0;
}

.navbar-nav>li {
  margin: 0 10px;
}

.navbar-nav>li>a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0,0,0,0);
  font-size: 12px;
  font-weight: 700;
}

.navbar-nav>li>a:hover,.navbar-nav>li>a:focus, .navbar-nav>li.active>a {
  border-bottom: 2px solid #ffae3f;
  padding-bottom: 0;
  background-color: transparent;
}

.navbar-nav.nav-text-light>li>a {
  color: #fff;
}

.navbar-nav.nav-text-light>li>a:hover {
  border-bottom-color: #fff;
}

.navbar-nav.nav-text-light>li.active>a {
  border-bottom-color: #fff;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.navbar.navbar-light {
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}

.navbar.navbar-light .navbar-nav.nav-text-light>li>a {
  color: #646464;
}

@media screen and (max-width: 767px) {
  .navbar.navbar-light .navbar-nav.nav-text-light>li>a {
    color: #e6e6e6;
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar.navbar-light .navbar-nav.nav-text-light>li>a:hover {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
  }
}

.navbar.navbar-light .navbar-nav.nav-text-light>li>a:hover {
  border-bottom-color: #646464;
}

.navbar.navbar-light .navbar-nav.nav-text-light>li.active>a {
  border-bottom-color: #646464;
}

.navbar-toggle {
  background-color: #646464;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #646464;
  }
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.btn-lg {
  border-width: 6px;
}

.btn-sm {
  border-width: 3px;
}

.btn-xs {
  border-width: 2px;
}

.btn-info {
  background-color: #00aeef;
  border-color: #00aeef;
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active {
  background-color: #00aeef;
  border-color: #009bd5;
}

.btn-primary {
  background-color: #ffae3f;
  border-color: #ffae3f;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active {
  background-color: #ffae3f;
  border-color: #ffa325;
}

.btn-primary.disabled,.btn-primary[disabled] {
  background-color: #ffc472;
  border-color: #ffae3f;
}

.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active,.btn-primary.disabled.active,.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled]:active,.btn-primary[disabled].active {
  background-color: #ffc472;
  border-color: #ffae3f;
}

a {
  color: #ffae3f;
}

a:hover,a:focus {
  color: #ffc472;
  text-decoration: none;
}

.section {
  background-color: #fafafa;
  padding: 70px 0;
}

.section.darker {
  background-color: #f5f5f5;
}

.section.most-dark {
  background-color: #4d4d4d;
  color: #fafafa;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading h2,.section-heading p {
  font-family: "Dosis",sans-serif;
}

.section-heading hr {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100px;
  border-top: 1px solid #646464;
}

.section-content h3 {
  color: #c2c2c2;
}

.section-content .sub-section {
  margin-top: 30px;
}

.tooltip-inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow,.tooltip.right .tooltip-arrow,.tooltip.left .tooltip-arrow,.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.parallax {
  background-attachment: fixed !important;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
    background-position: initial !important;
    background-repeat: no-repeat !important;
  }
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  left: 25px;
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.back-to-top a {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  display: block;
  background: rgba(0,0,0,0.4);
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.copyright {
  font-size: 0.8em;
  line-height: 36px;
}

@media screen and (max-width: 480px) {
  .copyright {
    width: 100%;
    text-align: center;
  }
}

#about, #blog, #contact {
  padding-top: 95px;
}
.looper .item[aria-hidden=true]  {
  display:none;
}

#hero-unit {
  background-image: url('/assets/img/rattlesnake-1920.jpg');
  background-size: 100%;
  background-attachment: fixed !important;
  padding-top:100px;
  height:1000px;
}
#hero-unit {
  font-size: 34px;
}
#hero-unit h1 {
  font-size:70px;
}
#hero-unit > .hero-content > div.container {
  width: auto;
  padding-right: 125px;
}
@media screen and (max-width: 768px) {
  #hero-unit > .hero-content > div.container {
    width: auto;
    padding-right: 80px;
  }
}
@media screen and (max-width: 450px) {
  #hero-unit > .hero-content > div.container {
    width: auto;
    padding-right: 40px;
  }
}

#hero-unit .row {
}
#hero-unit .hero-text {
  color: #eee;
  text-shadow: 2px 2px 4px #000;
}
#about {
  background-color: #384854;
  color: antiquewhite;
}
#about .section-heading > h2 {
  text-shadow: 2px 2px 4px #111;
}
#about .about-one {
  transition: 1100ms;
}
#about a {
  color: #ffc;
}
#about a:hover {
  text-decoration: none;
  color: inherit;
}
.section-heading .fa {
  width: 24px;
}
.section-heading > h2 {
  text-shadow: 1px 1px 0px #111;
}
#about .my-face {
  float: left;
  background: url('/assets/img/ken-100.jpg') no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 8px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 2px 2px 8px #222;
  -webkit-box-shadow: 2px 2px 8px #222;
  -moz-box-shadow: 2px 2px 8px #222;
}
#about .my-face img {
  opacity: 0;
  filter: alpha(opacity=0);
}
.blog-post {
  padding-bottom: 25px;
}
#content {
  background-image: url('/assets/img/snow-1920.jpg');
  background-size: cover;
  background-attachment: fixed !important;
}

@media screen and (max-width: 768px) {
  .navbar-top.navbar {
    margin: 0;
    height: auto;
  }
  #hero-unit {
    padding-top: 38px;
    height: 180px;
  }
  #hero-unit h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 35px;
  }
}

.archives h3, .archives div.meta {
  display: inline;
}
.archive li {
  clear: both;
}
section.post {
  padding-top: 30px;
}
section.post h1 {
  margin-bottom: 0px;
} 
section.post > div.meta {
  margin-bottom: 10px;
  font-size: 13px;
  font-style: italic;
  padding-left: 15px;
}
section.post .edit-button {
  float: right;
}
.post-sidebar {
  float: right;
  padding: 2px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: -1px 1px 2px #000;
  width: 200px;
  font-size: 13px;
}
@media screen and (max-width: 750px){
  .post-sidebar {
    width: 150px;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px){
  .post-sidebar {
    width: 110px;
    font-size: 11px;
  }
}
