---
layout: site
---
{% include post.html standalone=true post=page %}
<hr/>
<div id="share" class="container">
  <label for="pygments_stylesheet" style="font-size:12px;">Code snippets schema:&nbsp;</label>
  <select id="pygments_stylesheet">
    <option>autumn</option>
    <option>fruity</option>
    <option>github</option>
    <option>monokai</option>
    <option>native</option>
    <option>pastie</option>
    <option>tango</option>
    <option>vim</option>
    <option>zenburn</option>
  </select>
  <script>
    (function() {
      var stylesheetId = "pygments_stylesheet_link_element"; 
      var selectedStyleParameterName = "selectedStylesheet";

      function setHighlightStyle(head, selectedStyle) {
        var stylesheetPath = "/assets/stylesheets/pygments/" + selectedStyle + ".css";
        var linkElement = document.createElement("link");
        linkElement.setAttribute("rel", "stylesheet");
        linkElement.setAttribute("type", "text/css");
        linkElement.setAttribute("href", stylesheetPath);
        linkElement.setAttribute("id", stylesheetId);
        linkElement.id = stylesheetId;
        linkElement.rel = "stylesheet";
        linkElement.href = stylesheetPath;
        existing = document.getElementById(stylesheetId);
        if (existing !== null){
          head.replaceChild(linkElement, existing)
        } else {
          head.appendChild(linkElement)
        }
      }

      window.POSTFUNCS.push(function($){
        var stylesheetSelect = $('#pygments_stylesheet');
        var head = document.getElementsByTagName("head")[0];
        var selectedStyle = localStorage.getItem(selectedStyleParameterName);
        if (selectedStyle === null) {
          selectedStyle = "vim";
        }

        stylesheetSelect.val(selectedStyle);
        setHighlightStyle(head, selectedStyle);

        stylesheetSelect.change(function(){
          var selectedStyle = this.value;
          localStorage.setItem(selectedStyleParameterName, selectedStyle);
          setHighlightStyle(head, selectedStyle);
        });
      });
    })();
  </script>
  &nbsp;&nbsp;&nbsp;&nbsp;
<a class="twitter-share-button" 
  href="https://twitter.com/share?via=kenegozi&title=Great%20read">
Tweet
</a>
<a class="twitter-follow-button"
  href="https://twitter.com/kenegozi"
  data-show-count="true"
  data-lang="en">
Follow @kenegozi
</a>
<iframe src="//www.facebook.com/plugins/like.php?href={{site.url | uri_escape}}{{page.url | uri_escape}}&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=228174660541771" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
</div>
<div id="disqus_thread" class="container"></div>
    <script type="text/javascript">
        var disqus_shortname = 'kenegozi'; // required: replace example with your forum shortname
        var disqus_identifier = '{{page.url}}';
        var disqus_title = '{{page.title | replace:"'","\\'"}}';
        var disqus_url = '{{site.url}}{{page.url}}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
